.bg-image {
  position: absolute;
  left: 1px;
  z-index: -1;
  height: 70%;
  width: 100%;
}

body {
  background-color: #e1e5ea;
}
.intro {
  text-align: center;
  margin: 10rem auto 25rem auto;
  font-family: 'Balsamiq Sans';
}

.intro h1:first-child {
  font-size: 7rem;
  color: #3f3697;
  padding: 1rem;
}


/*--------------------------------Middle container------------------------*/
.middle-container {
  width: 100%;
  background-color: #e1e5ea;
  position: relative;
  bottom: 5rem;
  padding-top: 5rem;
  height: 100%;
}

a>.img {
  width: 75%;
  text-align: center;
  border-radius: 5rem;
  border: 2px solid #3f3697;
  margin: 2rem;
}
h4 {
  font-family: 'Dancing Script';
  font-size: 4rem;
  padding-left: 4rem;
}

h5 {
  padding-left: 4rem;
  font-size: 2rem;
  color: #3f3697;
  font-family: 'Balsamiq Sans';
  padding-right: 2rem;
}

.bottom-container {
  position: relative;
  top:15rem;
  background-color: #0061a8;
  width: 100%;
  text-align: center;
}

.social>a {
  padding: 1rem;
  font-size: 3rem;
  color: #f4eee8;
}

.social>a:hover {
  padding: 1rem;
  font-size: 3rem;
  color: #51c4d3;
}

.bottom-container .row {
  padding: 1rem;
}

.bottom-container p{
  text-align: center;
  margin: auto;
  color: #bdc7c9;
}
