.bg-image {
  position: absolute;
  left: 1px;
  z-index: -1;
  height: 70%;
  width: 100%;
}

body {
  background-color: #e1e5ea;
}
.intro {
  text-align: center;
  margin: 10rem auto 25rem auto;
  font-family: 'Balsamiq Sans';
}

.intro h1:first-child {
  font-size: 7rem;
  color: #3f3697;
  padding: 1rem;
}

.middle-container {
  width: 100%;
  background-color: #e1e5ea;
  position: relative;
  bottom: 5rem;
  padding-top: 2rem;
  height: 100%;
}

.map {
  text-align: center;
  padding: 1rem;
}

h2 {
  padding: 3rem;
  text-align: left;
  font-family: 'Balsamiq Sans';
  color: #3f3697;
}

iframe {
  border-radius: 2rem;
  border: 2px solid #3f3697;
}
.details {
  text-align: center;padding: 2rem;
}
h3 {
  font-family: "Dancing Script";
  color: #3f3697;
  font-size: 3rem;
}

hr {
  width: 40%;
  position: relative;
  border-color: grey;
}

.details p {
  font-size: 1.5rem;
  font-family: 'Roboto';
  color: #3b14a7;
}

.book {
  text-align: center;padding: 2rem;
}

.book p {
  font-size: 2rem;
  font-family: 'Roboto';
  line-height: 3rem;
  padding: 3rem;
  color: #3b14a7;
}

.button {
  padding: 10px 25px 10px 25px;
  background: #1597bb;
  background-image: -webkit-linear-gradient(top, #1597bb, #054c78);
  background-image: -moz-linear-gradient(top, #1597bb, #054c78);
  background-image: -ms-linear-gradient(top, #1597bb, #054c78);
  background-image: -o-linear-gradient(top, #1597bb, #054c78);
  background-image: linear-gradient(to bottom, #1597bb, #054c78);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  text-decoration: none;
}

.button:hover {
  background: #150e56;
  background-image: -webkit-linear-gradient(top, #150e56, #061621);
  background-image: -moz-linear-gradient(top, #150e56, #061621);
  background-image: -ms-linear-gradient(top, #150e56, #061621);
  background-image: -o-linear-gradient(top, #150e56, #061621);
  background-image: linear-gradient(to bottom, #150e56, #061621);
  text-decoration: none;
  color: #ffffff;
}

.bottom-container {
  position: relative;
  background-color: #0061a8;
  width: 100%;
  text-align: center;
}

.social>a {
  padding: 1rem;
  font-size: 3rem;
  color: #f4eee8;
}

.social>a:hover {
  padding: 1rem;
  font-size: 3rem;
  color: #51c4d3;
}

.bottom-container .row {
  padding: 1rem;
}

.bottom-container p{
  text-align: center;
  margin: auto;
  color: #bdc7c9;
}
