body {
  overflow-x: hidden;

}

.bg-image {
  position: absolute;
  left: 1px;
  z-index: -1;
}

.intro {
  text-align: center;
  margin: 20rem auto 25rem auto;
  font-family: 'Balsamiq Sans';
}

.intro h1:first-child {
  font-size: 7rem;
  color: #3f3697;
  padding: 1rem;
}

.intro h1:last-child{
  font-size: 6rem;
    color: #fff;
}

.top-conatiner {
  z-index: 1;
}

/*------------------------------------------Middle Container ----------------*/

.middle-container {
  background-color: #e1e5ea;
  width: 100%;
  position: relative;
  top:15rem;
  padding-top: 5rem;
}

.row{
  padding: 3rem;
  text-align: center;

}
.img{
  width: 51%;
}

h2{
  padding-top: 5rem;
  font-weight: bolder;
  text-align: left;
  line-height: 1.5;
  padding-bottom: 2rem;
  font-family: serif;
  font-size: 4rem;
  color: #3f3697;
}

p{
  font-family:Roboto;
  line-height: 2;
  color: #5eaaa8;
  text-align: left;
}

.des {
  padding: 0 5rem 0 5rem;
}

.btn {
  margin-top: 10rem;
  background: #1597bb;
  background-image: -webkit-linear-gradient(top, #1597bb, #054c78);
  background-image: -moz-linear-gradient(top, #1597bb, #054c78);
  background-image: -ms-linear-gradient(top, #1597bb, #054c78);
  background-image: -o-linear-gradient(top, #1597bb, #054c78);
  background-image: linear-gradient(to bottom, #1597bb, #054c78);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #150e56;
  background-image: -webkit-linear-gradient(top, #150e56, #061621);
  background-image: -moz-linear-gradient(top, #150e56, #061621);
  background-image: -ms-linear-gradient(top, #150e56, #061621);
  background-image: -o-linear-gradient(top, #150e56, #061621);
  background-image: linear-gradient(to bottom, #150e56, #061621);
  text-decoration: none;
  color: #ffffff;
}
.bottom-container {
  position: relative;
  top:15rem;
  background-color: #0061a8;
  width: 100%;
  text-align: center;
}

.social>a {
  padding: 1rem;
  font-size: 3rem;
  color: #f4eee8;
}

.social>a:hover {
  padding: 1rem;
  font-size: 3rem;
  color: #51c4d3;
}

.bottom-container .row {
  padding: 1rem;
}

.bottom-container p{
  text-align: center;
  margin: auto;
  color: #bdc7c9;
}

@media all and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .bg-image{
    display: block;
  }
  body{
    width: 100%;
}

@media all and (max-width: 500px) {
  .bg-image {
    min-width: 500px;
  }
}
