p {
  color: #3b14a7;
}

button{
  background: #3f3697;
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 1.5rem;
  color:#fff;
  font-family: Roboto;
  font-weight: bolder;
  border-color: #3d84b8;
  float:right;
}

.btn:hover{
  background: #3f3697;
  opacity: 90%;
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 1.5rem;
  color: #3d84b8;
  font-family: Roboto;
  font-weight: bolder;
  border-color: #3d84b8;
}

.top-container   {
  z-index: 99
}

.logo {
  width: 7rem;
  padding: 1rem;
  margin-top: 1rem;
}

.navbar {
  background: transparent;
  border: none;
}

.navbar-nav {
  margin-top: 1rem;
  padding-left: 5rem;
  float: none;
}
 ul {
   text-align: center;
   float: none;
 }

 .navbar-inverse .navbar-nav>.active>a{
   color: #344fa1;
   background: transparent;
   font-family: Roboto;
   font-size: 2rem;
   padding: 2rem 3rem 2rem 3rem ;
   font-weight: bolder;
   text-decoration: underline;
 }

 .navbar-inverse .navbar-nav>.active>a:hover{
   color: #3d84b8;
   background: transparent;
   font-family: Roboto;
   font-size: 2rem;
   padding: 2rem 3rem 2rem 3rem ;
   font-weight: bolder;
   text-decoration: underline;
 }

 .navbar-inverse .navbar-nav>li>a {
   color: #344fa1;
   background: transparent;
   font-family: Roboto;
   font-size: 2rem;
   padding: 2rem 3rem 2rem 3rem ;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #3d84b8;
  background: transparent;
  font-family: Roboto;
  font-size: 2rem;
  padding: 2rem 3rem 2rem 3rem ;
}

#myNavBar{
  border-left: 2rem;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #344fa1; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #3d84b8; /* Add a dark-grey background on hover */
}
